In [2]:
import pandas as pd
import numpy as np
import os
import re

from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
valid = pd.read_csv('data/valid.csv')
train = pd.read_csv('data/train.csv')

data = pd.concat([valid, train])
data["CreationDate"] = pd.to_datetime(data["CreationDate"])
data.head()

,Id,Title,Body,Tags,CreationDate,Y
0,34552974,How to get all the child records from differen...,I am having 4 different tables like \r\nselect...,<sql><sql-server>,2016-01-01 01:44:52,LQ_EDIT
1,34554721,Retrieve all except some data of the another t...,I have two table m_master and tbl_appointment\...,<php><mysql><sql><codeigniter><mysqli>,2016-01-01 08:43:50,LQ_EDIT
2,34555135,Pandas: read_html,<p>I'm trying to extract US states from wiki U...,<python><pandas>,2016-01-01 09:55:22,HQ
3,34555448,Reader Always gimme NULL,"I'm so new to C#, I wanna make an application ...",<sql-server><c#-4.0>,2016-01-01 10:43:45,LQ_EDIT
4,34555752,php rearrange array elements based on condition,basically i have this array:\r\n\r\n array(...,<php>,2016-01-01 11:34:09,LQ_EDIT

In [3]:
pattern = r"<([^<>]*)>"
def to_lst(tag):
    return re.findall(pattern, tag)
data["Tags"] = data["Tags"].apply(to_lst)
data

In [15]:
fig = px.histogram(data["CreationDate"], 
                   labels={
                     "value": "Date",
                     "count": "Count"
                 },
                   title="Number of Posts from December 2015 - March 2020")
fig.write_html('Number of Posts from December 2015 - March 2020.html', include_plotlyjs='cdn')
fig

In [5]:
def clean_df(df):
    df['Body_processed'] = df['Body'].map(lambda x: re.sub(r'(?s)(?<=<code>)(.*?)(?=<\/code>)','', x))
    df['Body_processed'] = df['Body_processed'].map(lambda x: re.sub('<.*?>', '', x))
    df['Body_processed'] = df['Body_processed'].map(lambda x: re.sub('[^\w\s]', '', x))
    df['Body_processed'] = df['Body_processed'].map(lambda x: re.sub('\\n+', ' ', x))
    df['Body_processed'] = df['Body_processed'].map(lambda x: re.sub('\/', ' ', x))
    df['Body_processed'] = df['Body_processed'].map(lambda x: re.sub(' [ ]+', ' ', x))
    df['Body_processed'] = df['Body_processed'].map(lambda x: x.lower())
    
    stop = set(stopwords.words('english'))
    df['Body_processed'] = df['Body_processed'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
clean_df(data)
data.head()

In [6]:
tags = data["Tags"].sum()

In [7]:
tags_vc = pd.Series(tags).value_counts() #10703
len(tags_vc[tags_vc.values > 1]) #5774
len(tags_vc[tags_vc.values > 2]) #4155
len(tags_vc[tags_vc.values > 3]) #3283
toptags = tags_vc[tags_vc.values > 1000] #23
toptags

In [8]:
fig = px.bar(toptags,
             labels={
                     "index": "Tag",
                     "value": "Count"
                 },
             title="Count of the Most Common Tags",
             color_discrete_sequence=[px.colors.qualitative.Safe[4]])
fig.write_html('Count of the Most Common Tags.html', include_plotlyjs='cdn')
fig

In [9]:
datetag = pd.DataFrame()
datetag["Date"] = data["CreationDate"].dt.to_period('M')#.transform(lambda x: x.date())
datetag["Tags"] = data["Tags"]
datetag

In [10]:
for i in toptags.index:
    datetag[i] = datetag["Tags"].apply(lambda x: i in x).astype(int)

datetag.head()

In [11]:
dtgb = datetag.groupby("Date").sum().reset_index()
dtgb

In [12]:
dtgb["sDate"] = dtgb["Date"].astype(str)

In [13]:
tdtgb = dtgb.T
tdtgb

In [14]:
fig = px.bar(dtgb, x = "sDate",
             y = list(toptags.index),
            labels={
                     "sDate": "Date",
                     "value": "Count"
                 },
             title="Bar Graph Visualizing the Distribution of the Most Common Tags per Month")
fig.write_html('Bar Graph Visualizing the Distribution of the Most Common Tags per Month.html', include_plotlyjs='cdn')
fig